mixin Job-banner(param={})
    .job-banner
        .job-banner__content
            ul.job-banner__tags
                li.job-banner__tag нейросети
                li.job-banner__tag от 1 года
                li.job-banner__tag удалённо
                li.job-banner__tag полная/частичная занятость
            .job-banner__title AI-тренер со знанием английского языка
            .job-banner__description Обучайте нейросети переводу текстов с английского на русский и помогайте развитию искуственного интеллекта.
            .job-banner__btn.btn.btn-callback Отликнуться
        .job-banner__img    
            img(src="/assets/img/categories/cat.png", alt="")