mixin Job-list(pafram={})
    .job-list
        +Job-card({
            title: 'Copywriting Editor',
            subtitle: 'Yandex seeks an experienced English Copywriting Editor to review, proofread, and revise copywriting materials for our clients. Apply if you have at least 2 years of experience as an editor in IT and tech',
        })
        +Job-card({
            title: 'Редактор-корректор',
            subtitle: 'Ищем корректора, который любит доходить до сути, может объяснить свои правки и найти контакт с авторами. Нужно работать с текстами для внешних и внутренних сервисов Яндекса',
            seePrice: true,
            price: 'от 45 000 ₽',
        })
        +Job-card({
            title: 'Copywriting Editor',
            subtitle: 'Yandex seeks an experienced English Copywriting Editor to review, proofread, and revise copywriting materials for our clients. Apply if you have at least 2 years of experience as an editor in IT and tech',
        })
        +Job-card({
            title: 'Редактор-корректор',
            subtitle: 'Ищем корректора, который любит доходить до сути, может объяснить свои правки и найти контакт с авторами. Нужно работать с текстами для внешних и внутренних сервисов Яндекса',
            seePrice: true,
            price: 'от 45 000 ₽',
        })
        +Job-card({
            title: 'Copywriting Editor',
            subtitle: 'Yandex seeks an experienced English Copywriting Editor to review, proofread, and revise copywriting materials for our clients. Apply if you have at least 2 years of experience as an editor in IT and tech',
        })
        +Job-card({
            title: 'Редактор-корректор',
            subtitle: 'Ищем корректора, который любит доходить до сути, может объяснить свои правки и найти контакт с авторами. Нужно работать с текстами для внешних и внутренних сервисов Яндекса',
            seePrice: true,
            price: 'от 45 000 ₽',
        })
        