mixin Job-info(param={})
    .job-info
        .job-info__title Какие задачи вас ждут
        ul.job-info__list
            li Переводить тексты
            li Оценивать и редактировать чужие переводы и генерации нейросети
            li Много работать с современными англоязычными и русскоязычными текстами, а со временем — с фото и видео
            li Создавать датасеты для тестирования систем машинного перевода
            li Быстро вникать в незнакомую информацию