extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    section.section.job-container
        .job-wrapper
            +Job-controles({})
            +Job-filter({})
            +Job-selected({})
            +Job-list({})
    include _modals
