button {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}

.btn {
  position: relative;
  background: transparent;
  font-size: 1rem;
  line-height: 20px;
  padding: 12px 20px;
  outline: none;
  border: none;
  color: $text-1;
  text-decoration: none;
  font-weight: 400;
  border-radius: $border-radius;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: border $transition, color $transition,
    background-color $transition, background $transition;

  svg {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: -8px;
    fill: $ui-gray-2;
    transition: fill $transition;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover:not([disabled]) {
    // color: #717F96;
    svg {
      // fill: $text-5;
    }
  }
  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }

  // COLORS
  // primary
  &_primary {
    // background: #FFA4E6;
    // color: rgba(20, 20, 20, 0.86);
    // max-height: 56px;
    // height: 100%;
    // max-width: 220px;
    // width: 100%;
    display: block;
    text-decoration: none;
    cursor: pointer;

    max-height: 5.2rem;
    height: 100%;
    width: 100%;
    margin-top: auto;
    grid-area: link;
    font-family: 'YS Text';
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 111%;
    letter-spacing: -0.002em;
    color: rgba(20, 20, 20, 0.86);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFA4E6;
    border-radius: 1.6rem;
    transition: all 0.3s ease;

    &:hover:not([disabled]) {
      background-color: #FA85DC;
      color: rgba(20, 20, 20, 0.86);
      svg {
        fill: $ui-white;
      }
    }

    svg {
      // fill: $ui-white;
    }
    @include sm{
      max-height: 4.8rem;
      font-size: 1.6rem;
      border-radius: 1.4rem;
    }
  }

  // secondary
  &_secondary {
    background: $ui-secondary;
    color: $text-1;

    &:hover:not([disabled]) {
      background-color: mix(black, $ui-secondary, 8);
      color: $text-1;

      svg {
        fill: $ui-dark-2;
      }
    }

    svg {
      fill: $ui-dark-2;
    }
  }

  // outline
  &_outline {
    color: $text-1;

    &::after {
      // border
      content: "";
      position: absolute;
      inset: 0px;
      border: 1px solid $ui-gray-1;
      border-radius: $border-radius;
      user-select: none;
      transition: border $transition;
    }

    &:hover:not([disabled]) {
      color: $text-1;

      &::after {
        border-color: $ui-gray-2;
      }

      svg {
        fill: $ui-dark-2;
      }
    }

    svg {
      fill: $ui-gray-2;
    }
  }

  &_dark {
    color: $text-4;

    &:hover:not([disabled]) {
      color: $text-5;
    }
  }

  &_primary-dark {
    background: $ui-white;
    color: $text-1;

    &:hover:not([disabled]) {
      background-color: mix(black, $ui-white, 12);
      color: $text-1;
      svg {
        fill: $ui-dark-2;
      }
    }

    svg {
      fill: $ui-dark-2;
    }
  }

  &_secondary-dark {
    background: $ui-dark-2;
    color: $text-4;

    &:hover:not([disabled]) {
      background-color: mix(white, $ui-dark-2, 8);
      color: $text-4;

      svg {
        fill: $ui-white;
      }
    }

    svg {
      fill: $ui-white;
    }
  }

  &_outline-dark {
    color: $text-4;

    &::after {
      // border
      content: "";
      position: absolute;
      inset: 0px;
      border: 1px solid $ui-white;
      border-radius: $border-radius;
      user-select: none;
      transition: border $transition;
    }

    &:hover:not([disabled]) {
      color: $text-5;

      &::after {
        border-color: $ui-primary;
      }

      svg {
        fill: $ui-primary;
      }
    }

    svg {
      fill: $ui-white;
    }
  }

  // SIZES
  // medium size
  &_md {
    padding: 8px 16px;

    svg {
      width: 16px;
      height: 16px;
      margin-left: 16px;
      margin-right: -6px;
    }
  }
  &_100 {
    width: 100%;

    svg {
      margin-left: auto;
    }
  }

  // TYPE
  // square
  &_square {
    padding: 10px;

    svg {
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }
  &_square.btn_md {
    padding: 8px;
    svg {
      width: 20px;
      height: 20px;
      margin: 0;
    }
  }

  &-clear{
    // border: 0.15rem solid #E3E8F0;
    // color: #717F96;
    // width: 100%;

    font-family: 'YS Text';
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: -0.002em;
    color: #717F96;

    max-width: 22rem;
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 0.15rem solid #E3E8F0;
    border-radius: 1.6rem;
    transition: all 0.3s ease;

    &:hover{
        background-color: #E3E8F0;
        color: #717F96;
    }
    @media (max-width: 979px) {
      padding: 0.9rem 1.6rem;
      font-size: 1.4rem;
    }
    @media (max-width: 767px) {
      padding: 0.6rem 1rem;
      font-size: 1.3rem;
      border-radius: 0.8rem;
    }
  } 
  &-callback {
    background: #5C56EC;
    color: #fff;
    transition: opacity 0.3s ease;
    border-radius: 1.2rem;

    &:hover:not([disabled]) {
      opacity: 0.8;
      background: #5C56EC;
      color: #fff;
    }
  }
}
