mixin Job-selected(param={})
    .job-selected
        .job-selected__title Найдено 25 вакансий
        .job-selected__content
            ul.job-selected__list
                li 
                    span Пешеходы
                    +icon('close')
                li 
                    span Контент
                    +icon('close')
            .job-selected__btn.btn.btn-clear Очистить фильтры